{% extends 'base.html'%}
{% block title %}About US{% endblock %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
    <main>
        <section class="page-head text-center">
            <div class="container">
                <h2 class="text-center font-weight-bold">About Us</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
                <p class="text-muted">We're on a mission to simplify cloud computing so developers and their teams can
                    spend <br> more time building software that changes the world.</p>
            </div>
        </section>
        <section class="pb-5 border-bottom">
            <div class="container mb-5">
                <div class="row">
                    <div class="offset-xl-2 col-xl-4 col-md-6">
                        <img src="assets/images/about.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-5 d-flex flex-column justify-content-center pt-5 pb-3 py-md-0">
                        <h2>No #1 Ranking at Google</h2>
                        <p class="h5 font-weight-normal">
                            Best Digital Marketing Inc With Expert Team
                        </p>

                        <p>We brand value Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda vero
                            laborum nostrum unde soluta voluptatibus quidem, ut necessitatibus, labore quasi aliquam .
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 border-bottom">
            <div class="container mt-4">
                <h2 class="text-center">Our Experience</h2>
                <p class="text-center lead font-weight-regular">We have completed 150+ projects succesfully</p>

                <div class="row py-5">
                    <div class="col-md-3 text-center">
                        <p class="mb-4"><img src="assets/images/globe.svg" alt="Potential Groth" height="60" width="60"></p>
                        <p class="h2 font-weight-bold">5K</p>
                        <p class="lead">Potential Growth</p>
                    </div>
                    <div class="col-md-3 text-center">
                            <p class="mb-4"><img src="assets/images/balance.svg" alt="Global customer" height="60" width="60"></p>
                            <p class="h2 font-weight-bold">430+</p>
                            <p class="lead">Global customer</p>
                    </div>
                    <div class="col-md-3 text-center">
                            <p class="mb-4"><img src="assets/images/ribbon.svg" alt="Countires Served" height="60" width="60"></p>
                            <p class="h2 font-weight-bold">27+</p>
                            <p class="lead">Countries Served</p>
                    </div>
                    <div class="col-md-3 text-center">
                            <p class="mb-4"><img src="assets/images/rocket.svg" alt="Potential Groth" height="60" width="60"></p>
                            <p class="h2 font-weight-bold">212%</p>
                            <p class="lead">Expert Employee</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-5 mb-4">
            <div class="container">
                <h2 class="text-center font-weight-bold">Our Team</h2>
                <p class="lead text-center">Expert Team management to make it worthy</p>

                <div class="row">
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card team-card">
                            <div class="card-body text-center">
                                <div class="avatar avatar-rounded mx-auto my-2">
                                    <img src="assets/images/face/Face_1.png" alt="Profie" class="img-fluid">
                                </div>
                                <p class="small text-gray mb-1">FOUNDER</p>
                                <h5 class="mb-2">Georges Embolo</h5>
                                <p class="text-muted">We brand value Lorem ipsum dolor sit amet, consectetur adipisicing. </p>
                                <nav class="nav social-nav justify-content-center">
                                    <a href="#!" class="nav-link social-link-facebook"> <i class="mdi mdi-facebook"></i> </a>
                                    <a href="#!" class="nav-link social-link-twitter"> <i class="mdi mdi-twitter"></i> </a>
                                    <a href="#!" class="nav-link social-link-behance"> <i class="mdi mdi-behance"></i> </a>
                                    <a href="#!" class="nav-link social-link-dribbble"> <i class="mdi mdi-dribbble"></i> </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card team-card">
                            <div class="card-body text-center">
                                <div class="avatar avatar-rounded mx-auto my-2">
                                    <img src="assets/images/face/Face_2.png" alt="Profie" class="img-fluid">
                                </div>
                                <p class="small text-gray mb-1">Senior Developer</p>
                                <h5 class="mb-2">Yeray Rosales</h5>
                                <p class="text-muted">We brand value Lorem ipsum dolor sit amet, consectetur adipisicing. </p>
                                <nav class="nav social-nav justify-content-center">
                                    <a href="#!" class="nav-link social-link-facebook"> <i class="mdi mdi-facebook"></i> </a>
                                    <a href="#!" class="nav-link social-link-twitter"> <i class="mdi mdi-twitter"></i> </a>
                                    <a href="#!" class="nav-link social-link-behance"> <i class="mdi mdi-behance"></i> </a>
                                    <a href="#!" class="nav-link social-link-dribbble"> <i class="mdi mdi-dribbble"></i> </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 my-3">
                        <div class="card team-card">
                            <div class="card-body text-center">
                                <div class="avatar avatar-rounded mx-auto my-2">
                                    <img src="assets/images/face/Face_3.png" alt="Profie" class="img-fluid">
                                </div>
                                <p class="small text-gray mb-1">Senior Developer</p>
                                <h5 class="mb-2">Laquita Elliott</h5>
                                <p class="text-muted">We brand value Lorem ipsum dolor sit amet, consectetur adipisicing. </p>
                                <nav class="nav social-nav justify-content-center">
                                    <a href="#!" class="nav-link social-link-facebook"> <i class="mdi mdi-facebook"></i> </a>
                                    <a href="#!" class="nav-link social-link-twitter"> <i class="mdi mdi-twitter"></i> </a>
                                    <a href="#!" class="nav-link social-link-behance"> <i class="mdi mdi-behance"></i> </a>
                                    <a href="#!" class="nav-link social-link-dribbble"> <i class="mdi mdi-dribbble"></i> </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </main>

{% endblock %}