{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
{% block body %} 

  
     
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About Us</h1>
          <p class="lead text-muted">DS Mart was born in 2020 when the covid-19 pandemic started.To cater the economic crisis of the nation.</p>
          
        </div>
      </section>

      

    </main>
        


    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
        
        </p>
        <center><p>Copyright@DS Mart 2021</p></center>
        
      </div>


    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
 


{% endblock %}        