<!DOCTYPE html>
<html lang = "eng">
<head>

    <meta charset ="UTF-8">
    <meta name = "viewpoint" content = "width=device-width,initial-scale = 1.0">
    <style>
        body {
            background-image: url("/static/R.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            }
    </style>
    <title>Student Registration</title>
   
</head>
<body>
    <h1><center>Student Registration</center></h1>
    <form method ="post">
            {% csrf_token %}
            <center>{{form}}</center>
            <p> </p>
            <center><button type ="submit">Submit</button></center>
        
    </form>>
</body>
</html>